.flex-box{
    display: flex;
    width: 100%;
    height: auto;
}
.flex{
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.container {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    height: auto;
}
.WokiTitulo{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: aqua;
    padding: 1rem;
    margin-left: 25%;
}

.invitacion{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.parrafo-invitacion{
    justify-content: center;
    align-items: center;
    padding: 50px;
}